* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
};

body {
  overflow-y: scroll;
  
}

.main {
  display: flex;
  justify-content: start;
  /* align-items: center; */
  flex-direction: column;
}

.main__img-medails {
  margin: 20px auto;
  display: flex;
  /* margin: 10px 0; */
}

.btn {
  background: none;
  border: 1px solid white;
  color: white;
  background: #ffffff73;
  padding: 10px 10px;
  width: 100%;
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-weight: medium;
  border-radius: 20px;
}

.btn:active {
  background: #ffffff;
  color: black;
  transition: all 0.3s ease-in-out;
  fill: black;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__text {
  color: white;
  text-align: center;
  font-size: 48px;
}

.main--country {
  display: flex;
  align-items: center;
  justify-content: center;
}

.country__table {
  width: 100px;
  font-size: 20px;
  margin: 20px auto;
  color: white;
}

.main__medals {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 40px 0;
  color: white;
  font-size: 24px;
}

.main__medals-count {
  color: white;
  font-size: 72px;
  text-align: center;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.main__country {
  gap: 2px;
}

.main__medals-text {
  font-size: 24px;
}

.main__medals-th, .main__medals-td {
  font-size: 28px;
}

table {
  border-collapse: collapse;
  font-size: 24px;
  text-align: center;
  /* min-width: 400px; */
}

th, td {
  padding: 5px;
  border: 2px solid white;
  color: white;
}

th {
  font-weight: bold;
}    